<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

<h4 style="text-align: center; padding: 20px;">Hi {{ uid }}! Your email: {{ email }}</h4>

<div class="container" style="width: 70%;">
    <h5 style="text-align: center;">Availability</h5>
    <div class="container">

        <form class="d-flex" action="/apartment/search" method="POST">
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 bg-light">
                        <input id="checkIn" class="form-control" type="date" name="arrival" aria-label="default input example" value="">
                        <label for="checkIn" class="form-label">Check - in</label>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 bg-light">
                        <input id="checkOut" class="form-control" type="date" name="departure" aria-label="default input example" value="">
                        <label for="checkOut" class="form-label">Check - out</label>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col">
                    <div class="p-3 bg-light">
                        <button id="check" class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>  Search</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

<!-- // all apartment   -->

    <div class="container">

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            {% for apartment in apartments %}

            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                </div>
                <h2>{{ apartment.title }}</h2>
                <p>{{ apartment.description }}.</p>
                <h5 class="d-inline p-2"> Price: </h5>
                <h5 class="d-inline p-2 bg-primary text-white">{{ apartment.booked }} EUR</h5>
            </div>

            {% endfor %}

        </div>


    </div>

<!-- // end all apartments -->

<!-- // search -->
    <div class="container">
    {% for result in results %}

    <div class="card" style="width: 500px;">
        <div class="card-header">
            Room Nr.:{{ result.id }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ result.title }}</h5>
            <p class="card-text">{{ result.description }}.</p>
            <p class="card-text">
                <h5 style="float: right; margin-right: 20px;">Price: {{ result.booked }} EUR</h5>
            </p>
            <form method="post" action="/booking/{{ result.id }}">
                <input type="hidden" name="apartment_id" value="{{ result.id }}" />
                <input type="hidden" name="arrival" value="{{ arrival }}" />
                <input type="hidden" name="departure" value="{{ departure }}" />
                <input type="hidden" name="booked" value="{{ result.booked }}" />
                <button class="btn btn-primary" type="submit">Book</button>
            </form>

        </div>
    </div>

    {% endfor %}

    </div>





</div>



<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>